# Node (Angular)
frontend/warehouse-app/node_modules/
frontend/warehouse-app/dist/

# .NET
backend/Warehouse.Api/bin/
backend/Warehouse.Api/obj/

# VS
*.user
*.suo

# OS
.DS_Store
Thumbs.db

# Env
*.env
